<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfWlf54DQjDzdC_f33uFHiEjy5e1dCWdg</string>
	<key>GCM_SENDER_ID</key>
	<string>521026531859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romanovdev.airsoftarena</string>
	<key>PROJECT_ID</key>
	<string>airsoft-arena-ae65a</string>
	<key>STORAGE_BUCKET</key>
	<string>airsoft-arena-ae65a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521026531859:ios:46a64d49d7c739821e45e6</string>
</dict>
</plist>